<!-- Comment by Nick: This is written by Manfred to setup the page looks-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SurfTheOWL</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/SurfTheOWL_style.css' %}">
    <script type="text/javascript" src="{% static 'js/SurfTheOWL_JavaScript.js' %}" ></script>

</head>
<body>
    <form action="/Surfing" method="post">
        {% csrf_token %}
        <select name="searched_class" id="searched_class">
            {% for element in list_of_all_classes %}
            <option value="{{element.0}}">{{element.1}}</option> <!--value=normal class name, >< = friendly name   -->
            {% endfor %}
        </select>
        <button id="submit_button" type="submit">SEARCH</button>
    </form>

    <hr class="solid">
    {% if search_result_heading %}
    <div id="download_button_div">
        <form action="/download_json" method="post">
            {% csrf_token %}
            <button class="json_download_button">Download data as JSON</button>
        </form>
    </div>
    {% endif %}

    <div class="layer1_div">
    <h2 >{{search_result_heading}}</h2>  <!-- searched class name-->
        {% for element in data_objects%}
            <div class="specialObjDiv">
                <hr class="limb_root">
                <span class="bulletpoint"> &#9654; </span>
                <span class="layer2">{{element.0}}: {{element.1}}</span>
            </div>
        {% endfor %}
        {{html_code | safe}}
    </div>


</body>
</html>


