@media print {
body {-webkit-print-color-adjust: exact;}
}
body{
    font-family: Arial;
    width: 1000px;

    margin-left: auto;
    margin-right: auto;
}
.list {
    display: inline-block;
    padding-top: 1px;
    padding-left: 20px;
    vertical-align: top;
}
hr.solid {
  border-top: 3px solid #bababa;
}
.limb_root{
    border: dashed black 1px;
    width: 20px;
    display: inline-block;
}
.bulletpoint{
    font-size: 16px;
}
.specialObjDiv{
    background-color: #788f78;
    margin: 0px 0px 0px 34px;
    padding-left: 3px;
    border-left: dotted black 2px;
}
.layer1_div{
    background-color: whitesmoke;
    padding-left: 5px;
}
.layer_just_div{
    background-color: white;
    margin: 0px 0px 0px 34px;
    padding-left: 3px;
    border-left: dotted black 2px;
}
.layer_odd_div{
    background-color: whitesmoke;
    margin: 0px 0px 0px 34px;
    padding-left: 3px;
    border-left: dotted black 2px;
}

.layer2{
    font-size: large
}
#searched_class{
    font-size: 20px;
}
#submit_button{
    font-size: 20px;
}