@media print {
body {-webkit-print-color-adjust: exact;}
}
body{
    font-family: Arial;
    width: 1500px;

    margin-left: auto;
    margin-right: auto;
}
hr.solid {
  border-top: 3px solid #bababa;
}
.bulletpoint{
    font-size: 25px;
}
.specialObjDiv{
    background-color: #788f78;
    margin: 3px 3px 3px 50px;
}
.layer1_div{
    background-color: lightblue;
    padding-left: 5px;
}
.layer2_div{
    background-color: #9b9b9b;
    margin: 3px 3px 3px 50px;
}
.layer3_div{
    background-color: #a7a7a7;
    margin: 3px 3px 3px 50px;
}
.layer4_div{
    background-color: #d4d4d4;
    margin: 3px 3px 3px 50px;
}
.layer5_div{
    background-color: #e7e7e7;
    margin: 3px 3px 3px 50px;
 }
.layer6_div{
    background-color: whitesmoke;
    margin: 3px 3px 3px 50px;
}
.layer6_div{
    background-color: white;
    margin: 3px 3px 3px 50px;
}
.layer7_div{
    background-color: whitesmoke;
    margin: 3px 3px 3px 50px;
}
.layer8_div{
    background-color: #e7e7e7;
    margin: 3px 3px 3px 50px;
}
.layer9_div{
    background-color: #d4d4d4;
    margin: 3px 3px 3px 50px;
}
.layer10_div{
    background-color: #a7a7a7;
    margin: 3px 3px 3px 50px;
}
.layer2{
    font-size: large
}
.layer3{

}
.layer4{

}
.layer5{

}
.layer6{

}
.layer7{

}
.layer8{

}
.layer9{

}
.layer10{

}
#searched_class{
    font-size: 20px;
}
#submit_button{
    font-size: 20px;
}