html * {
    font-family: Arial !important;
}
.welcome_container{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.welcome{
    box-shadow: 5px 5px 7px grey;
    padding-left: 5px;
    padding-right: 5px;
}
#loading_text{
    color: grey;
    font-size: 1.1em;
    text-align: center;
}
#loader {
    margin-right: auto;
    margin-left: auto;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.startup {
    margin: 0.5em;
    visibility: hidden;
    text-align: center;
}
.st_bt {
    cursor: pointer;
}
#SurfTheOWL_start{
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    font-size: 1.5em;
    color: #00363a;
    cursor: pointer;
}